/* ---------------- Google Font Import - Poppins ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* -------- Colors -------- */
  --primary-color: #af7ab3;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #b58db8;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* -------- Transition -------- */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

/* ------------- Start Apply to entire ------------- */
body {
  min-height: 100vh;
  background-color: var(--primary-color);
}

/* ------------- Start toggle dark-mode theme ------------- */
body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}
/* ------------- End toggle dark-mode theme ------------- */

/* ------------- End Apply to entire ------------- */

/* ------------- Start left sidebar ------------- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 17rem;
  padding: 0.6rem 0.8rem;
  background-color: var(--panel-color);
  border-right: 2px solid var(--border-color);
  transition: var(--tran-05);
}

/* ------------- Start toggle left sidebar ------------- */
nav.close {
  width: 4.5rem;
}
/* ------------- End toggle left sidebar ------------- */

/* ------------- Start logo name & logo image ------------- */
nav .logo-name {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  white-space: nowrap;
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 3rem;
}

nav .logo-image img {
  width: 2.5rem;
  object-fit: cover;
  background-color: #fff;
  border-radius: 50%;
}

nav .logo-name .logo_name {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 0.8rem;
  transition: var(--tran-05);
}

nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
  /* sidebar 버튼 클릭하면 로고 이름이 사라지게 함 */
}
/* ------------- End logo name & logo image ------------- */

/* ------------- Start left sidebar items ------------- */
nav .menu-items {
  margin-top: 2.5rem;
  height: calc(100% - 5.6rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 3.5rem;
  text-decoration: none;
  position: relative;
}

.nav-links li a:hover:before {
  content: "";
  position: absolute;
  height: 23px;
  width: 3px;
  background-color: var(--primary-color);
}

.menu-items li a i {
  font-size: 1.5rem;
  min-width: 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}

.menu-items li a .link-name {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
  white-space: nowrap;
}

nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
  /* sidebar 버튼 클릭하면 링크 이름들이 사라지게 함 */
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}
/* ------------- End left sidebar items ------------- */

/* ------------- Start left sidebar dark-mode toggle ------------- */
.menu-items .dark-mode {
  padding-top: 0.6rem;
  border-top: 1px solid var(--border-color);
}

.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 3rem;
  min-width: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 39px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}

body.dark .switch:before {
  left: 20px;
  /* transition & left -> Dark-mode 스위치 왼쪽으로부터 20px 이동 (버튼이 켜지는 것처럼 보임) */
}
/* ------------- End left sidebar dark-mode toggle ------------- */

/* ------------- End left sidebar ------------- */

/* ------------- Start section dashboard ------------- */

.dashboard {
  position: relative;
  left: 17rem;
  background-color: var(--panel-color);
  height: 100vh;
  width: calc(100% - 17rem);
  padding: 0.6rem 0.8rem;
  transition: var(--tran-05);
}

nav.close ~ .dashboard {
  left: 4.5rem;
  width: calc(100% - 4.5rem);
}

/* ------------- Start section dashboard top ------------- */
.dashboard .top {
  position: fixed;
  top: 0;
  left: 17rem;
  width: calc(100% - 17rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.8rem;
  background-color: var(--panel-color);
  transition: var(--tran-05);
}

nav.close ~ .dashboard .top {
  left: 4.5rem;
  width: calc(100% - 4.5rem);
  /* sidebar 버튼을 클릭해서 sidebar 링크들을 닫으면, 버튼이 사이드바 닫힌 곳으로 따라감 */
}

/* ------------- Start section dashboard top-toggle btn ------------- */
.dashboard .top .sidebar-toggle {
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
}
/* ------------- End section dashboard top-toggle btn ------------- */

/* ------------- Start section dashboard top-search box ------------- */
.dashboard .top .search-box {
  position: relative;
  height: 2.8rem;
  max-width: 37.5rem;
  width: 100%;
  margin: 0 1.8rem;
}

.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 1.3rem;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--panel-color);
  padding: 0 1.5rem 0 3rem;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 400;
  outline: none;
}
/* ------------- End section dashboard top-search box ------------- */

/* ------------- End section dashboard top ------------- */

/* ------------- End section dashboard ------------- */
