/* ---------------- Google Font Import - Poppins ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* -------- Colors -------- */
  --primary-color: #af7ab3;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #b58db8;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;

  /* -------- Transition -------- */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

/* ------------- Start Apply to entire ------------- */
body {
  min-height: 100vh;
  background-color: var(--primary-color);
}

/* ------------- End Apply to entire ------------- */

/* ------------- Start left navigation bar ------------- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 17rem;
  padding: 0.6rem 0.8rem;
  background-color: var(--panel-color);
}

/* ------------- Start logo name & logo image ------------- */
nav .logo-name {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 3rem;
}

nav .logo-image img {
  width: 2.5rem;
  object-fit: cover;
}

nav .logo-name .logo_name {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 0.8rem;
}
/* ------------- End logo name & logo image ------------- */

/* ------------- Start left navigation bar items ------------- */
nav .menu-items {
  margin-top: 2.5rem;
  height: calc(100% - 5.6rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li {
  list-style: none;
}

.menu-items li a {
  display: flex;
  align-items: center;
  height: 3.5rem;
  text-decoration: none;
  position: relative;
}

.nav-links li a:hover:before {
  content: "";
  position: absolute;
  height: 23px;
  width: 3px;
  background-color: var(--primary-color);
}

.menu-items li a i {
  font-size: 1.5rem;
  min-width: 2.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}

.menu-items li a .link-name {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--black-light-color);
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}
/* ------------- End left navigation bar items ------------- */

/* ------------- Start left navigation bar dark-mode toggle ------------- */
.menu-items .mode {
  display: flex;
  align-items: center;
}

.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 3rem;
  min-width: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 1.3rem;
  width: 2.5rem;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
}
/* ------------- End left navigation bar dark-mode toggle ------------- */

/* ------------- End left navigation bar ------------- */
